<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate Article</title>
    </head>

    <body>

        <header>
            <div class="linkable">
                Logo
            </div>
            <div class="linkable">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="urlForm">
                    <input id="urlInput" type="text" name="url" placeholder="Enter URL" required>
                    <button id="submitButton" type="submit">Submit</button>
                </form>
                
            </section>

            <section>
                <strong>Analysis Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>&copy Evaluate Article</p>
        </footer>

    </body>
</html>
